<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyomikujiApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>654D2A5E1F57E84900DFA1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654D2A721F57E84A00DFA1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654D2A7D1F57E84A00DFA1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
